{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <link rel="stylesheet" href="{% static 'css/adminlog.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/adminlog.js' %}"></script>

    <!--<script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/js/adminlog.js"></script>-->
</head>
<body>
    <div id="bgbox">
        <div id="img_box"><img src="{% static 'img/Adminlogin.jpg' %}"></div>
        <div class="logCon">
            <form id='login'>
            {% csrf_token %}
            <div>
                <span>账号：</span>
                <input id="user" type="text" name="username"/>
            </div>

            <div>
                <span>密码：</span>
                <input id="password" type="password" name="password"/>
            </div>

            <div class="line"><span>账户类型：</span>
                <input type="radio" name="role" id="super" value="Super" checked="true"/>
                <label for="super">高层管理</label>
                <input type="radio" name="role" id="admin" value="Admin"/>
                <label for="admin">执行管理</label>
            </div>
            </form>
            <div id="but">登录</div>
        </div>
    </div>




    <div id='dialog'></div>
</body>
</html>

