{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <link rel="stylesheet" href="{% static 'css/adminlog.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    

                                        
</head>
<body>
    <div align="center" style="color:white; font-size:30px">车库信息系统毕业设计</div>
    <footer>
        <a style="color:red; position:absolute; bottom:0px; right:10PX" href="http://www.beian.miit.gov.cn">
        ICP证：粤ICP备19041947号
        </a>
    </footer>
</body>

</html>
